__pycache__
trainlist.txt
validationlist.txt
testlist.txt
lip_venv
venv
clear
models/
circlesout/
experiment
experiment/
experiment/*
blank_experiment.tar
output/
output_masked/
scores/
filelist*
debug/*.tif
.*
